###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# behavior for Simulink files
#
###############################################################################
*.slx   binary

